# =====================
# Python general ignore
# =====================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb

# =====================
# Virtual Environment
# =====================
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# =====================
# Django specific
# =====================
*.log
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env

# =====================
# VSCode / IDE files
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# System / OS files
# =====================
.DS_Store
Thumbs.db
desktop.ini

# =====================
# PyInstaller
# =====================
build/
dist/
*.spec
